{% extends 'contact/base.html' %} {% block base_content %}
<br>

<div class="container">
    <div class="row row-cols-3">
        <div class="col">
            <div class="card p-3 mb-2 bg-warning text-dark" style="width: 20rem">

                <img src="" class="card-img-top my-image" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">
                        <a style="text-decoration: none; color: red;" href=" {% url 'contact:create' %}">Add New</a>
                    </h5>
                </div>

            </div>
        </div>
        {% for eachcontact in contacts %}
        <div class="col">
            <div class="card p-3 mb-2 bg-warning text-dark" style="width: 20rem">
                {% if eachcontact.profile_picture %}
                <img src="{{eachcontact.profile_picture.url}}" class="card-img-top my-image" alt="..." />
                {% else %}
                <img src="" class="card-img-top my-image" alt="..." />
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">
                        <a style="text-decoration: none; color: red;"
                            href="{% url 'contact:contactdetails' eachcontact.user eachcontact.id %}">
                            <span>{{eachcontact.firstname}}
                                {{eachcontact.lastname}}<span></a>
                    </h5>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock base_content %}